{# Héritage de la base #}
{% extends "base.html.twig" %}
{# <!-- On ouvre le bloc body du parent pour écrire notre template dedans --> #}
{% block body %}
	<header class="jumbotron jumbotron-fluid text-white headercolor mb-0 border-bottom p-4 text-center txt">
		<div class="container text-center txtheader">
			<div>
				<h1 class="display-4 text-center">To Do List</h1>
				<p class="lead ">Gérez vos projets en ligne</p>
			</div>
		</div>
						<!-- Si un utilisateur est connecté on affiche son nom -->
				{% if app.user %}
					<p>Bonjour
						{{app.user.username}}</p>
				{% endif %}

	</header>

	<nav
		class="navbar navbar-expand-lg navbar-light text-secondary p-2 container bodycolor">
		<!-- Si un utilisateur est connecté avec le rôle de base -->
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="btn btn-danger rounded-pill p-2 text-white mx-2" href="{{path('app_logout')}}">Déconnexion</a>
		{% else %}
			<a href="{{path('app_login')}}" class="btn btn-danger rounded-pill p-2 text-white mx-2">Connexion</a>
		{% endif %}
		<div class="justify-content-between" id="navbarNav">
			<a class="btn btn-warning p-2 text-dark" href="{{ path("main") }}">Accueil</a>
		</div>
		<div>
			<a class="btn btn-lg bg-success m-2 p-1" href="{{ path('user_index') }}">Utilisateurs</a>
			<a class="btn btn-lg bg-success m-2 p-1" href="{{ path('project_index') }}">Projets</a>
			<a class="btn btn-lg bg-success m-2 p-1" href="{{ path('task_index') }}">Tâches</a>
			{# <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button> #}
		</div>

		<div>
			<a class="btn btn-lg bg-warning m-2 p-1" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
			<a class="btn btn-lg bg-warning m-2 p-1" href="{{ path('project_new') }}">nouveau projet</a>
			<a class="btn btn-lg bg-warning m-2 p-1" href="{{ path('task_new') }}">Ajouter tâche</a>
			{# <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button> #}
		</div>
	</nav>

	<main class="container bodycolor txt">
		{% block main %}{% endblock %}
	</main>
	<footer class=" pt-4 pt-md-5 border-top headercolor text-white txtheader">
		<div class="row">
			<div class="col-12 col-md">
				<p class="d-block text-center">&copy; To Do List - November 2020</p>
			</div>
		</div>
	</footer>
{% endblock %}
